.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    font-family: 'Aclonica', sans-serif;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 90px;
    margin-right: 0.5rem;
  }
  
  .navbar-logo span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    gap: 4rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a:hover,
  .navbar-links li a.active {
    color: #00bcd4;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .language-dropdown {
    font-size: 1rem;
    cursor: pointer;
  }
  
  .navbar-icons {
    display: flex;
    gap: 1rem;
  }
  
  .icon {
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  